*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: var(--box-shadow);
}
:root{
    --font-family: Arial, Helvetica, sans-serif;
    --color-background: rgb(179, 182, 186);
    --color-background-light:rgb(224, 242, 248);
    --color-secondary: rgba(0, 145, 212, 255);
    --color-text-light: var(var(--color-background-light));
    --color-text-dark: rgb(10,10,20);
    --border-dev: 1px dashed black;

}
body{
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-text-dark);
}

h1,h2,h3 {
    text-transform: capitalize;
}
img{
    max-width: 100%;
}
